Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
var1 = "string"
var2 = [1,2,3,4,5]
var3 = 12.34
var4 = (1,2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [5]:
var1 = ""
var2 = "[ DS , ML , Python]"
var3 = [ "DS" , "ML" , "Python" ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [7]:
a = 10
b = 6

print(a/b) #normal division
print(a%b) #shows remainder
print(a//b) #shows quotient
print(a**b) #a to the power b

1.6666666666666667
4
1
1000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:
lst = [1,2.3,"str",[1,2,3],{1,2,3},{"key":"value"},True,5+2j,(1,2,3),None]

for element in lst:
    print(element)
    print(type(element))
    print("----------")

1
<class 'int'>
----------
2.3
<class 'float'>
----------
str
<class 'str'>
----------
[1, 2, 3]
<class 'list'>
----------
{1, 2, 3}
<class 'set'>
----------
{'key': 'value'}
<class 'dict'>
----------
True
<class 'bool'>
----------
(5+2j)
<class 'complex'>
----------
(1, 2, 3)
<class 'tuple'>
----------
None
<class 'NoneType'>
----------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [45]:
a = 1122
b = 11
count = 0

#with while loop  
while a%b == 0:
    a = a//b #step by step division
    count += 1
    
if count > 0:
    print(f"a is divisible by b, and it can be divided {count} times.")
else:
    print("a is not divisible by b.")


#alternate way without while loop
# if(a%b == 0):
#     quotient_length = len(str(a//b))
#     print(quotient_length)
# else:
#     print("its not perfectly divisible")

a is divisible by b, and it can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [48]:
lst = list(range(1,26))

for element in lst:
    if(element%3 == 0):
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [50]:
lst = [1,2,3,4,5]
tupl = (1,2,3,4,5)

lst[3] = 99 #it will successfully change
tupl[3] = 99 #output: tuple' object does not support item assignment

#therefore we cannot change the existing values in immutable objects, and also we cannot add new values in existing tuple objects.

TypeError: 'tuple' object does not support item assignment